process.container = 'quay.io/nextflow/bash'

profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
}

singularity {
    enabled = true
}

tower {
    accessToken = 'eyJ0aWQiOiA5NzEzfS45NGMxZmViMmE4NjZhYjU2ODE2NmIwMThiYzVlYWMyYzY4NWY4Mjg3'
    enabled = true
    workspaceId = '92851700850296'
}